img.full{
  width: 100%;
}
.about-me {
  float: left;
}
.hobbies{
  float: right;
  position: relative;
  bottom: 100px;

}
.img-center{
  text-align: center;
  display: inline-block;
}
.hobby{
  width: 30%;
}
.index{
  background-color: #444444;
}
.panel-body{
  background-color: #eee;
}
