
img.link {
  width: 100%;
}
img.link:hover, img.hobby:hover {
  transform: scale(1.1);
}

.about-me {
  float: left;
}

.hobbies {
  float: right;
  position: relative;
  bottom: 316px;
}

.img-center {
  text-align: center;
  display: inline-block;
}

.hobby {
  width: 30%;
}

#index {
  background-color: #444444;
}

.panel-body {
  background-color: #eee;
}

#me-img {
  margin-top: 75px;
  margin-bottom:150px;
}

#code-prntsc {
  margin-top: 17px;
  margin-bottom: 17px;
}

.home-link{
  margin-top: 250px;
}
span.first-letter{
  font-family: serif;
  font-size: 45px;
  float: left;
  position: relative;
  bottom: 12px;
}
span.left{
  position: relative;
  right: 30px;
}

}
.well p{
  margin: 10px 0 10px 0;
}
.indent{
  margin-left: 30px;
}
.plain-link{
  text-decoration: none;
  color: black;
}
.plain-link:hover{
  color: darkblue;
  text-decoration: underline;
}
.plain-link:visited{
color: darkred;
}
.center{
  text-align: center;
}
.box{
  border: 2px solid black;
  padding: 20px;
  margin: 40px;
}
.green-background{
  background: linear-gradient(180deg, #6AA419, #FFFFFF);
}

.red-background{
background: linear-gradient(180deg, #CF7F54, #FFFFFF);
}

.blue-background{
background: linear-gradient(180deg, #50A3C0, #FFFFFF);
}

.grey-background{
background: linear-gradient(180deg, #444444, #FFFFFF);
}

.purple-background{
  background: linear-gradient(180deg, #6D116F, #FFFFFF);
}

.white-background{
  background: linear-gradient(90deg, #FFFFFF, #FFFFFF)
  opacity: 100%
}

#white{
  background-color: #444444;
  color: white;
}

#green {
  background: linear-gradient(180deg, #6AA419, #FFFFFF);
}

#red{
background: linear-gradient(180deg, #CF7F54, #FFFFFF);
}

#blue{
background: linear-gradient(180deg, #50A3C0, #FFFFFF);
}

#grey{
background: linear-gradient(180deg, #444444, #FFFFFF);
}

#purple{
background: linear-gradient(180deg, #6D116F, #FFFFFF);
}

button {
  width: 150px;
  height: 75px;
}
#background-selector{
  text-align: center;
}
