img.full{
  width: 100%;
}
.about-me {
  float: left;
}
.hobbies{
  float: right;
  position: relative;
  bottom: 316px;
}
.img-center{
  text-align: center;
  display: inline-block;
}
.hobby{
  width: 30%;
}
.index{
  background-color: #444444;
}
.panel-body{
  background-color: #eee;
}
.home-link{
  margin-top: 250px;
}
span.first-letter{
  font-family: serif;
  font-size: 45px;
  float: left;
  position: relative;
  bottom: 12px;
}
span.left{
  position: relative;
  right: 30px;
}
img:hover{
  transform: scale(1.1);
}
.well p{
  margin: 10px 0 10px 0;
}
.indent{
  margin-left: 30px;
}
.plain-link{
  text-decoration: none;
  color: black;
}
.plain-link:hover{
  color: darkblue;
  text-decoration: underline;
}
.plain-link:visited{
color: darkred;
}
.center{
  text-align: center;
}
.box{
  border: 2px solid black;
  padding: 20px;
  margin: 40px;
}
